#about-us {
    min-height: 100vh;
    max-width: 100vw;
    background-color: #303030;
}

#about-us p {
    color: #e7e7e7;
}

.about-us-container {
    text-align: left;
    width: 80%;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-us-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-us-col {
    padding: 10px;
    flex-basis: 31%;
}

.about-us-col h3 {
    color: #e7e7e7;
    margin-bottom: 10px;
}

@media (max-width: 700px) {
    #about-us {
        padding: 20% 10%;
    }
    .about-us-row {
        flex-direction: column;
    }
}