.products {
    min-height: 100vh;
    max-width: 100vw;
    background-color: gray;
    margin: auto;
    text-align: center;
}

.products__grid-wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.products__grid-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
}

.grid-container__item {
    padding: 20px;
    text-align: center;
    transition: 0.5s;
}

.grid-container__item:hover {
    transform: translateY(-20px);
}

.grid-container__item img {
    width: 60%;
    transition: 1s;
}

.grid-container__item img:hover {
    cursor: pointer;
}

.grid-container__item p {
    font-size: 24px;
    font-weight: 500;
    color: #e7e7e7;
}

.grid-container__item p:hover {
    color: white;
}

@media (max-width: 700px) {
    .products__grid-wrapper {
        padding: 10% 0;
    }
    .products__grid-container {
        grid-template-columns: auto;
    }
    .grid-container__item img {
        max-width: 30%;
        transition: 1s;
    }
}